################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RuxSchool/obj/Debug
/RuxSchool/bin/Debug
